*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.grey{
    background-color:rgb(48, 53, 48);
}
.head{
    width: 70%;
    margin-left: 250px;
    margin-right: 440px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.slogan{
    font-size: 10px;
    padding-left: 200px;
}
.slogan p {
    color: white;
}
.busi-name h1 {
    color: #db7835;
    font-size: 40px;
}
.white {
    color: white;
}
.navigation{
    width: 55%;
    margin-top: 30px;
}
.nav{
    display: flex;
    gap: 15px;
    list-style: none;
}
.nav li{
    background-color: #73b40e;
    border-radius: 3px;
    padding: 5px 15px;
    float: left;
}
.nav li:hover{
    background-color: #db7835;
}
.nav li a{
    color: white;
    font-size: 13px;
}
.footer .footty{
    width: 60%;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.above-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}
.footer-imgs img{
    margin: 5px;
}
.footer-imgs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    row-gap: 5px;
}
.imaggallary{
    margin-right: 20px;
}
footer .footty h3 {
    color: white;
    font-size: 17px;
}
.about-img{
    float: left;
    margin-right: 20px;
}
.About p {
    color: white;
    font-size: 15px;
    opacity: 0.8;
}
.About {
    margin-right: 10px;
}
.green-link {
    color: #73b40e;
    text-decoration: underline;
}
.Contact , p , ul li {
    color: white;
    font-size: 15px;
    opacity: 0.9;
}
.containers {
    margin-top: 15px;
}
.about-con{
    margin-top: 20px;
}
.contact-con {
    margin-top: 20px ;
}
.Contact p {
    color: white;
}
.Contact ul li{
    list-style: none;
}
.con-bold {
    font-weight: bold;
}
.black {
    background-color: #222222;
}
.footer-nav {
    display: flex;
    gap: 15px;
    list-style: none;
}.black .footty {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-nav li a{
    color: white;
}
.footer-nav li .unique{
    color:#73b40e
}
.center{
    margin-bottom:10px ;
}
h2{
    color: #73b40e;
}
p{
    color: black;
}
.read{
    color: #db7835;
}
.main-area{
    width: 80%;
    margin-left: 250px;
    margin-right: 440px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.modern img{
    margin-bottom: 10px;
}
.read-comment{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-start;
}
.modern{
    margin-right: 15px;
}
.org img{
    margin-bottom: 10px;
}
.org{
    margin-right: 15px;
}
.menu-list li{
    color: black;
    list-style: none;
}
.spo h4{
    opacity: 0.7;
    font-size: 15px;
}
.local img{
    margin-bottom: 10px;
}
.local{
    margin-right: 15px;
}
.farm img{
    margin-bottom: 10px;
}



